.principal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.menus {
    margin-top: 55px;
    display: flex;
    flex-direction: column; /* Mantener en columna */
    margin-right: 20px;
}

.menus .btn {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menus .btn:hover {
    background-color: #004494;
}

.content-area {
    flex-grow: 1;
    background-color: #e3f2fd; /* Azul clarito */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
}

/* Asegurarse de que el título no se mueva al hacer scroll */
.content-area h3 {
    position: sticky;
    top: 0;
    background-color: #e3f2fd; /* Fondo del título */
    z-index: 1; /* Asegura que el título esté por encima */
}
